body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    display: flex;
    height: 70px;
    background: #313131;
}
.main {
    /*background: url("img/bg-first.jpeg") 100% no-repeat;*/
    /*background-size: cover;*/
    height: 369px;
}
.picture {
    margin-top: 22px;
    margin-left: 27px;
}
.architect {
    margin-top: 22px;
    margin-left: 27px;
}
.architect a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}
.architect a:hover {
    color: #14B9D5;
}
.header .navi {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}
.nav {
    margin-left: 274px;
}
.navi a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 35px;
}
.navi a:hover {
    color: #14B9D5;
}
ul.nav{
    display: flex;
}
.search {
    margin-right: 1px;
}
* {box-sizing: border-box;}
form {
    position: relative;
    width: 250px;
    margin: 0 auto;
    height: 70px;
}
input {
    height: 70px;
    width: 0;
    padding: 0 70px 0 15px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
input:focus {
    width: 250px;
    z-index: 1;
    border: 5px solid dimgrey;
}
button {
    background: black;
    border: none;
    height: 69px;
    width: 68px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
}
.latest-news {
    margin-top: 167px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 27px;
    text-transform: uppercase;
}
.buttons {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.main a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.button-one {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #89CA62;
    padding: 16px 19px;
    border-radius: 5px;
    border-bottom: 2px solid #6daa48;
    margin-right: 10px;
    font-size: 18px;
}
a.button-one:hover {
    background: #484848;
}
a.button-two {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #14B9D5;
    padding: 16px 30px;
    border-radius: 5px;
    border-bottom: 2px solid #0e8fa5;
    font-size: 18px;
}
a.button-two:hover {
    background: #484848;
}
.pop-posts {
    display: flex;
    margin-top: 49px;
    margin-bottom: 50px;
    justify-content: center;
}
.pop-posts a {
font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #18B4CF;
}
div#masonry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    max-height: 800px;
    font-size: 0;
}
div#masonry img {
    width: 33.3%;
    transition: .8s opacity;
}
div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; }

.posts {
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-one {
    height: 800px;
    width: 1200px;
    display: flex;
    padding: 3px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}
.cell {
    width: 32.8%;
}
.cell:nth-child(3n+1) { order: 1; }
.cell:nth-child(3n+2) { order: 2; }
.cell:nth-child(3n)   { order: 3; }

.container-one .cell {
    width: 32.8%;
    margin: 0 0 10px;
    padding: 10px;
    background: #ffffff;
    overflow: hidden;
}
.container-one .cell p {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.container {
    background-color: #e5e5e5;
}
.main-two {
display: grid;
    /*background: url("img/bg-sec.jpeg");*/
    /*background-size: cover;*/
    height: 588px;
    width: 100%;
}
.grid-two {
    height: 50%;
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
}
.text-two {
    grid-column: 1 / span 5;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 108px;
    margin-bottom: 196px;
}
.grid-two > a {
    padding: 10px;
    text-align: center;
}
.top-rated {
    margin-top: 50px;
    text-align: center;
}
.top-rated a {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #18B4CF;
    text-align: center;
}
.container-two img {
    width: 100%;
}
.container-two {
    margin-top: 54px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}
.hotnews {
    text-align: center;
    margin-top: 48px;
}
.hotnews a {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #18B4CF;
    text-align: center;
}
.hot-new {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    width: 95%;
}
.news-one {
    display: flex;
}
.news-eight {
    display: flex;
}
.container-three {
    width: 1100px;
    display: grid;
    margin: 40px;
    grid-gap: 10px;
}
.container-three > div {
    background: white;
    padding: 10px;
}
h {
    font-weight: bold;
    font-size: 18px;
}
.news-one {
    grid-column: 1 / 4 ;
    grid-row: 1 ;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.news-two {
    grid-column: 4 ;
    grid-row: 1 ;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.news-three {
    grid-column: 1 / 3 ;
    grid-row: 2 ;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.news-four {
    grid-column: 3 / 5;
    grid-row: 2 ;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.news-five {
    grid-column: 1 / 3;
    grid-row: 3 ;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.news-six {
    grid-column: 3 / 5;
    grid-row: 3 ;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.news-seven {
    grid-column: 1 ;
    grid-row: 4 ;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.news-eight {
    grid-column: 2 / 5;
    grid-row: 4 ;
    text-align: right;
    font-size: 14px;
    line-height: 21px;
}
.footer-bar {
    margin-top: 77px;
    height: 80px;
    background: black;
}
.footer {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: right;
}
.footer p {
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.foot-logo {
    display: flex;
}
.foot-logo p {
    font-size: 18px;
    font-weight: bold;
}
.parallax-one {
    background-image: url("img/bg-first.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-two {
    background-image: url("img/bg-sec.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}